.editCustomDimension {
    .icon-plus, .icon-minus {
        cursor: pointer;
    }

    .extraction {
        margin-bottom: 8px;

        select{
            float: left;
            margin-right: 8px;
            width: 18%;
        }
        input {
            display: inline;
            margin-right: 8px;
            width: 18%;
        }
    }
}