.manageCustomDimensions {
    .info {
        color: @color-silver;
    }

    .dataTable {
        width: 900px;
    }

    p, pre {
        max-width: 900px;
    }

    th.action, td.action {
        a {
            color: black;
        }
    }

    .index {
        width: 100px;
    }

    .extractions, .active, th.action, td.action {
        width: 150px;
    }
}